.student-progress-board {
  .board-title {
    font-weight: 700;
  }

  .students-status {
    padding: 1vw 2vw;

    .progress-line {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid #000;
      padding: 10px 5px;
      margin: 0 25px 15px 18%;

      .progress-line-item {
        font-size: 18px;
        font-weight: 500;
      }
    }

    .students-status-list {
      height: 70vh;
      padding-right: 20px;
      overflow: auto;

      .student-status-item {
        display: flex;
        padding-bottom: 15px;

        .student {
          display: flex;
          width: 18%;

          .student-avatar {
            margin-right: 10px;
          }

          .student-name {
            font-size: 16px;
            line-height: 30px;
          }
        }

        .ant-steps-item-content {
          width: 100%;

          .ant-steps-item-title {
            font-size: 15px;
            line-height: 20px;
          }

          .ant-steps-item-description {
            .warning {
              color: #ff7d5a;
            }
          }
        }
      }
    }
  }
}