.student-progress-board {
  .board-title {
    font-weight: 700;
  }

  .students-status {
    padding: 1vw 10vw 1vw 2vw;

    .progress-line {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid #000;
      padding: 10px 5px;
      margin-left: 18%;

      .progress-line-item {
        font-size: 18px;
        font-weight: 500;
      }
    }

    .students-status-list {
      .student-status-item {
        display: flex;
        padding: 15px 0 20px;

        .student {
          display: flex;
          width: 18%;

          .student-avatar {
            margin-right: 10px;
          }

          .student-name {
            font-size: 16px;
            line-height: 30px;
          }
        }

        .ant-steps-item-title {
          font-size: 15px;
          line-height: 20px;
        }

        .ant-steps-item-description {
          .warning {
            color: #ff7d5a;
          }
        }
      }
    }
  }
}